# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.ipynb_checkpoints/

# ML artifacts (track in S3, not git)
*.pkl
*.joblib

# AWS credentials
.aws/
*.csv
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Logs
*.log
